 
html{ }
body{ 
  background:#e8e8e8;
  
}


.demo{ height:100vh;  background:#eee;  width:100%;  }
.demo__left{ width: 70%; float: left;  height: 100vh;  background: #fff;}
.demo__right{width:30%; float: right;}
.demo__right__inner{ padding: 20px;}

.document__container{padding: 20px;}

 
.document{
  background-color: red;
 display: flex;
  flex-flow: column wrap;  
  flex: 0 100%;
  width: 100%;
  margin-top: 5px;
  border: 1px solid blue;
}
.document__header{
    background-color: #F2F2F2;
    display: flex;
    flex: 1 100%;
    flex-flow: row wrap;
    height: 30px;
    align-items: center;
}
.document__header__nav{  display:flex; }



.document__header__nav--left{  }
.document__header__nav--right{ margin-left:auto;}
.document__header__nav__btn{ background: none; border: none;  cursor: pointer;}
.document__header__nav__separator{ padding: 0 15px;}
.document__header__nav__btn-icon{color:#666666}
.document__header__nav__btn-text{}
.document__header__nav__btn-icon__angle-down:before{ font-size: 8px;}

.document__body{ border: 1px solid #e5e3e3; background-color: #fff; display:flex; flex: 1 100%; overflow:hidden;  max-height: 400px }
.document__body__content{ padding:20px 40px;  overflow-y: scroll; }